body
{
    margin: 0;
}

.container
{
    width: 80%;
    margin: 0 auto;
    height: max-content;
}

header
{
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    height: 10vh;
    width: 100%;
    background-color: #ff2;
    font-size: 32px;
}

main
{
    padding-top: 15vh;
}

.start-stopwatch
{
    background-color: #ff2;
    padding: 6px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: bold;
}

.start-stopwatch:focus
{
    outline: none;
}

.stopwatch
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px;
    border: solid 2px #999;
    color: #666;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
}

footer
{
    position: fixed;
    bottom: 0;
    height: 5vh;
    width: 100%;
}
